<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('ARQSI %sMediador%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('No seguimento da iteracao 1 e 2, pretende-se informatizar alguns outros processos de negocio
duma imobiliaria. Pretende-se desenvolver um conjunto de funcionalidades de gestao de apoio as tarefas do mediador.')) ?></p>
    <p><a class="btn btn-success btn-lg" href="http://localhost/Mediador_IT3/mediador" target="_blank"><?php echo $this->translate('Mediador') ?> &raquo;</a></p>
</div>
