 <?php
$title = 'Confirmacao';
$this->headTitle($title);
?>
<br/>
<h5>Anuncio Validado com sucesso!</h5>

<br/>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'index'));?>">Back</a></li>
 <br/>