 <?php

 $title = 'MEDIADOR Validar os Anuncios';
 $this->headTitle($title);
 ?>
<br/>
<h2>Corresponder Venda - Compra </h2>

<br/>
  
<?php

    $flag = false;
    if(!is_null($correspondencias)){
        $flag = true;
    }

?>

<?php 
    if ($flag == false)
    {
        echo "<h4>Nao existem Anuncios Para Correspondencia</h4>";
    }
?>
 
 <br/>
  
 <table class ="table">

  <?php 
   echo "<tr>";
   echo "<th>";
   echo "ID";
   echo "</th>";
   echo "<th>";
   echo "Anuncio Venda ID"; 
   echo "</th>";
   echo "<th>";
   echo "Anuncio Compra ID";
   echo "</th>";
   echo "<th>";
   echo "Percentagem de correspondencia";
   echo "</th>";
   echo "<th>";
   echo "Aceita Correspondencia";
   echo "</th>";
   echo "</tr>";
 
    foreach ($correspondencias as $correspondencia){
        echo "<tr>";
        
        echo "<td>";
        echo $correspondencia->correspondencia['ID'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->correspondencia['Anuncio_venda_ID'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->correspondencia['Anuncio_compra_ID'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->correspondencia['delta']; 
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->correspondencia['aceita_correspondencia'];
        echo "</td>";
        
        echo "</tr>"; 
    }
  ?>
</table>

<?php 
 if ($flag == true )
 {
     echo "<h4>Anuncios de Compra</h4>";
 }
 ?> 
<table class="table" >
  <?php 
  echo "<th>";
  echo "ID";
  echo "</th>";
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area Minima";
  echo "</th>";
  echo "<th>";
  echo "Area Maxima";
  echo "</th>";
  echo "<th>";
  echo "Preco Minima";
  echo "</th>";
  echo "<th>";
  echo "Preco Maxima";
  echo "</th>";
    foreach ($correspondencias as $correspondencia) {
       
    echo "<tr>";
    
        echo "<td>";
        echo $correspondencia->anuncio_compra['ID'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['local'];
        echo "</td>";

        echo "<td>";
        echo $correspondencia->anuncio_compra['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['areaMin'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['areaMax'];
        echo "</td>";        
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['precoMin'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_compra['precoMax'];
        echo "</td>";
       
        echo "</tr>";        
    }
?>
</table>

<?php 
 if ($flag == true )
 {
     echo "<h4>Anuncios de Venda</h4>";
 }
?>
  
  <table class="table">
  <?php 
  if ($flag == true)
  {
  echo "<th>";
  echo "ID";
  echo "</th>";
  echo "<th>";
  echo "Tipo de Imovel";
  echo "</th>";
  echo "<th>";
  echo "Local";
  echo "</th>";
  echo "<th>";
  echo "Latitude";
  echo "</th>";
  echo "<th>";
  echo "Longitude";
  echo "</th>";
  echo "<th>";
  echo "Area";
  echo "</th>";
  echo "<th>";
  echo "Preco";
  echo "</th>";
    foreach ($correspondencias as $correspondencia) {
    echo "<tr>";
        
        echo "<td>";
        echo $correspondencia->anuncio_venda['ID'];
        echo "</td>";
    
        echo "<td>";
        echo $correspondencia->anuncio_venda['tipoImovel'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_venda['local'];
        echo "</td>";

        echo "<td>";
        echo $correspondencia->anuncio_venda['latitude'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_venda['longitude'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_venda['area'];
        echo "</td>";
        
        echo "<td>";
        echo $correspondencia->anuncio_venda['preco'];
        echo "</td>";
   
    echo "</tr>"; 
        }
  }

    ?>

  </table>

 <?php  
 if ($flag == true)
 {
 $form->setAttribute('action', $this->url('mediador', array('action' => 'corresponder','anuncioC' => 'compraBtn')));
 $form->prepare();
 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('CorrespondenciaID'));

 echo "<br/>"; echo "<br/>";
 echo $this->formSubmit($form->get('submit'));
 
 echo $this->form()->closeTag();
 }
 ?>
