<?php
$title = 'Anuncio Compra';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('mediador', array('action' => 'validacompra','id'=>$vec['ID'])));
 $form->setData($this->vec);
 $form->prepare();

 echo $this->form()->openTag($form);
 echo $this->formHidden($form->get('id'));
 echo $this->formHidden($form->get('applicationUserID'));
 echo $this->formHidden($form->get('ImovelID'));
 echo $this->formHidden($form->get('tipoImovelID'));
 echo $this->formHidden($form->get('localizacaoID'));
 echo $this->formHidden($form->get('valido'));
 echo $this->formHidden($form->get('MediadorID'));
 echo $this->formHidden($form->get('AnuncioVendaID'));
 echo $this->formRow($form->get('tipoImovel'));
 
 
 echo "<br/>";
 echo $this->formRow($form->get('local'));
 echo "<br/>";
 echo $this->formRow($form->get('latitude'));
 echo "<br/>";
 echo $this->formRow($form->get('longitude'));
 echo "<br/>";
 echo $this->formRow($form->get('areaMin'));
 echo "<br/>";
 echo $this->formRow($form->get('areaMax'));
 echo "<br/>";
 echo $this->formRow($form->get('precoMin'));
 echo "<br/>";
 echo $this->formRow($form->get('precoMax'));
 echo "<br/>"; echo "<br/>";
 echo $this->formSubmit($form->get('submit'));
 echo "<br/>";
 
 echo $this->form()->closeTag();
 
?>
<br/>
 <li><a href="<?php echo $this->url('mediador', array('action'=>'index'));?>">Back</a></li>